<script lang="ts">
  import NavLinks from "$lib/NavLinks.svelte";

  export let open_header = false;
</script>

<button
  id={open_header ? "open_button" : "closed_button"}
  on:click={() => (open_header = false)}
/>

<header class:open_header on:click={() => (open_header = !open_header)}>
  <div id="logo" />
  <NavLinks bind:open={open_header} />
</header>

<style>
  * {
    margin: auto;
    padding: 0rem;
  }
  button {
    position: fixed;

    top: 0vm;
    left: 0vh;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0);
    border: none;
    z-index: 20;
  }
  #open_button {
    display: block;
  }
  #closed_button {
    display: none;
  }
  header {
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;

    width: 5rem;
    height: 5rem;

    display: grid;
    margin: 0rem;

    background-color: var(--dark-tan);

    z-index: 50;
    border-radius: 2rem 5rem 5rem 5rem;

    transition-property: width, height, top, left, border-radius;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s, 0s, 0.1s;
  }
  .open_header {
    transition-delay: 0s, 0.1s, 0s;
  }
  @media not all and (max-width: 50rem) {
    header {
      grid-template-columns: 5rem 1fr;
      grid-template-rows: 1fr;
    }
    .open_header {
      left: 0.5rem;
      top: 0.5rem;
      width: calc(100vw - 0.5rem);
      height: 5rem;

      border-radius: 2.5rem 0rem 0rem 2.5rem;
    }
  }
  @media (max-width: 50rem) {
    header {
      grid-template-rows: 5rem 1fr;
      grid-template-columns: 1fr;
    }
    .open_header {
      left: calc(50vw - 10rem);
      top: calc(50vh - 15rem);
      width: 20rem;
      height: 20rem;

      border-radius: 2rem;
    }
  }
  #logo {
    display: block;
    margin: 0.5rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;

    background-size: cover;
    background-image: url("/img/id_laughing.jpg");
  }
  header:hover #logo {
    background-image: url("/img/id_normal.jpg");
  }
</style>
