<script lang="ts">
  export let open = false;

  interface NavLink {
    name: string;
    link: string;
  }
  let links: Array<NavLink> = [
    { name: "Home", link: "/" },
    { name: "About", link: "/about" },
    { name: "Services", link: "/services" },
    { name: "Notes", link: "/jottings" },
  ];
</script>

<aside class:open>
  <ul class="nav-links">
    {#each links as { name, link }}
      <li>
        <a class="nav-link" href={link}>
          <div class="nav-link-text">{name}</div>
        </a>
      </li>
    {/each}
  </ul>
</aside>

<style>
  * {
    margin: auto;
    padding: 0rem;
    text-align: center;
    vertical-align: middle;
  }
  aside {
    visibility: collapse;
    transition-delay: 0s;
  }
  .open {
    visibility: visible;
    transition-delay: 0.3s;
  }
  .nav-links {
    margin: auto;
    height: 100%;

    display: grid;
    grid-gap: 0rem;
  }

  @media not all and (max-width: 50rem) {
    aside {
      margin: auto auto auto 0rem;
      height: 100%;
    }
    .nav-links {
      grid-auto-flow: column;
      grid-template-rows: 1fr;
    }
  }
  @media (max-width: 50rem) {
    aside {
      margin: 0rem auto auto auto;
      width: 100%;
    }
    .nav-links {
      grid-template-columns: 1fr;
      grid-auto-flow: row;
    }
  }

  .nav-links > li {
    width: 100%;
    height: 100%;
    list-style: none;
  }
  .nav-link {
    display: grid;
    grid: 1fr / 1fr;
    padding: 1rem;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    color: white;
    text-decoration: none;

    letter-spacing: 0.2rem;
    font-size: 1.2rem;
  }
  .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .nav-link-text {
    margin: auto;
  }
</style>
