<svelte:head>
  <title>About</title>
</svelte:head>

<main>
  <section>
    <p>
      My name is Hugo McNally.<br />
      I am the little one (or was at least).
    </p>
  </section>
</main>

<style>
  * {
    margin: auto;
    padding: 0rem;
  }
  main {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 6rem 2rem 2rem 2rem;

    background-image: url("/img/young_barrel_dad.webp");
    background-size: cover;
    background-position: center;
  }
  section {
    margin: 2rem auto;
    text-align: center;
    color: var(--dusty-blue);
    font-size: 1.5rem;
    text-shadow: -0.04rem -0.04rem 0.06rem #eee8d5,
      -0.04rem +0.04rem 0.06rem #eee8d5, +0.04rem -0.04rem 0.06rem #eee8d5,
      +0.04rem +0.04rem 0.06rem #eee8d5;
  }
</style>
