<script lang="ts">
  interface OtherSite {
    alt: string;
    logo: string;
    link: string;
  }
  let sites: Array<OtherSite> = [
    {
      alt: "Wikipedia",
      logo: "/img/logo/wikipedia.svg",
      link: "https://en.wikipedia.org/wiki/User:HU90m",
    },
    {
      alt: "GitLab",
      logo: "/img/logo/gitlab.svg",
      link: "https://gitlab.com/HU90m/",
    },
    {
      alt: "GitLab",
      logo: "/img/logo/github.svg",
      link: "https://github.com/HU90m/",
    },
    {
      alt: "Instagram",
      logo: "/img/logo/instagram.svg",
      link: "https://www.instagram.com/hugo.mcnally/",
    },
    {
      alt: "Linkedin",
      logo: "/img/logo/linkedin.svg",
      link: "https://www.linkedin.com/in/hugo-mcnally-550569185/",
    },
  ];
</script>

<svelte:head>
  <title>HU90m</title>
</svelte:head>

<main>
  <section id="other-sites">
    {#each sites as { alt, logo, link }}
      <a href={link}>
        <img src={logo} {alt} />
      </a>
    {/each}
  </section>
</main>

<style>
  * {
    margin: auto;
    padding: 0rem;
  }
  main {
    position: fixed;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6rem 1fr;
    grid-auto-flow: row;

    background-image: url("/img/young_me_on_boat.webp");
    background-size: cover;
    background-position: center;
  }
  #other-sites {
    grid-area: 2 / 1;
    height: 100%;
    width: 100%;

    font-size: 1rem;
    padding: 1.5rem;
    display: grid;
    grid-template-rows: repeat(auto-fit, 3em);
    grid-template-columns: repeat(auto-fit, 3em);
    grid-auto-flow: column;
    grid-gap: 1em;

    box-sizing: border-box;
  }
  section > a {
    margin: auto;
    text-decoration: none;
  }
  section > a > img {
    filter: brightness(0%) invert(100%);
    width: 2em;
  }
  section > a > img:hover {
    width: 2.5em;
  }
</style>
