<svelte:head>
  <title>Notes</title>
</svelte:head>

<iframe src="https://www.hugom.uk/notes" title="My Notes" />

<style>
  iframe {
    padding: 0rem;
    margin: 0rem;
    border: none;
    width: 100vw;
    height: 100vh;
  }
</style>
