<main>
  <section>
    <table>
      <tr>
        <td class="name">
          Notebook<br />
          <a href="https://notebook.hugom.uk">notebook.hugom.uk</a>
        </td>
        <td>
          A <a href="https://tiddlywiki.com">TiddlyWiki5</a> notebook where I
          write all my notes. Notes I tag with 'public' are available for you to
          see at
          <a href="https://www.hugom.uk/notes">www.hugom.uk/notes</a>.
        </td>
      </tr>
      <tr>
        <td class="name">
          Films<br />
          <a href="https://film.hugom.uk">film.hugom.uk</a>
        </td>
        <td>
          A convenient place for my family and me to watch my films. This was
          the first website I made and the source code is here:
          <a href="https://github.com/HU90m/serviam">github.com/HU90m/serviam</a
          >. If for some reason you want to use it, message me and I'll add a
          FOSS license.
        </td>
      </tr>
      <tr>
        <td class="name">
          Cloud<br />
          <a href="https://cloud.hugom.uk">cloud.hugom.uk</a>
        </td>
        <td>
          A place for my family, my friends and I to store data and organise our
          lives. A simple <a href="https://nextcloud.com">Nextcloud</a> instance.
        </td>
      </tr>
      <tr>
        <td class="name">
          EcoEating<br />
          <a href="https://www.ecoeating.co.uk">www.ecoeating.co.uk</a>
        </td>
        <td>
          A website I helped my girlfriend design and build for her business.
          She is an amazing cook! Check it out if you are hungry.
        </td>
      </tr>
    </table>
  </section>
</main>

<style>
  * {
    margin: auto;
    padding: 0rem;
  }
  main {
    box-sizing: border-box;
    padding: 6rem 0rem;
    width: min(100vw, 40rem);
    min-height: 100vh;
  }
  table {
    padding: 2rem 0rem;
    border-collapse: collapse;
  }
  .name {
    text-align: end;
    line-height: 1.4rem;
    border-style: none solid none none;
    border-width: 0.1rem;
  }
  td {
    padding: 0.6rem 1rem;
  }
</style>
